.ant-btn-primary {
  background-color: dodgerblue;
  background-image: none;
}
.ant-btn-danger {
  background-color: tomato;
  color: white;
}
.ant-btn-success {
  background-color: #56bc4f;
  color: white;
}
.ant-btn-ghost {
  background-color: #ffffff;
  color: #505050;
  border: 1px solid #909090;
}

.ant-spin .ant-spin-dot-item {
  background-color: #273e56;
}
